%h2.title.is-3 Olvidaste tu contraseña?
%hr

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!

  .field
    = f.label "Correo electrónico", class: "label"
    .control
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "input"

  .actions.has-text-right
    = f.submit "Envíame las instrucciones", class: "button is-primary"

.has-text-right.mt20
  = render "devise/shared/links"
