%h2.title.is-3 Ingresa
%hr

.has-text-centered.mb20
  = render "devise/shared/socials"

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label "Correo electrónico", class: "label"
    .control
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-rounded"

  .field
    = f.label "Constraseña", class: "label"
    .control
      = f.password_field :password, autocomplete: "off", class: "input is-rounded"

  - if devise_mapping.rememberable?
    .field
      .control
      = f.label class: "checkbox" do
        = f.check_box :remember_me
        %span Recuérdame

  .actions.has-text-right
    = f.submit "Ingresar", class: "button is-primary is-rounded"

.has-text-right.mt20
  = render "devise/shared/links"
