!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tweety
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'partials/flash_messages'
    .hero
      .hero-body
        .columns
          .column.is-half.is-offset-one-quarter
            .has-text-centered.mb20
              %h1.title.is-1.title-header
                = link_to "Tweety", root_path, class: "has-text-black"
            .card
              .card-content
                = yield
